.App {
  text-align: center;
}

body {
  background-image: url("./assets/images/mars-circle.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: 'Libre Baskerville', serif;
}

a {
  text-decoration: none;
}

h1 {
  transition: text-shadow 2s linear;

}

h1:hover {
  color:#fff;
  text-shadow: 0 0 10px #fff,
               0 0 20px #fff, 
               0 0 40px #fff;
}
